* {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    /* box ka size same rhega*/
}

div {
    /* block element*/
    border: 7px solid white;
    margin: 25px;
    width: 200px;
    height: 200px;
    padding: 50px;
    background-color: grey;
    color: black;
    
    ;
    /* display: inline-block; */

}
span{
    display: block;
    border: 2px dotted whitesmoke;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}